html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym,
address, big, code, del, dfn, em, font, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
    font: 13px/1.5 'Swis721LtExBT', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}


h4 {
    font-size: 1.0em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

ul, ol {
    list-style: none;
}

ul.nostyle li {
    list-style: none;
}

hr {
    color: #f4f4f4;
}

pre, tt, code, kbd, samp, var {
    font-family: "Courier New", Courier, monospace;
}

blockquote {
    width: 90%;
    padding: 5px 20px 15px;
    background: #efefef;
    border: 1px solid #bababa;
    font-style: italic;}

blockquote p {
    padding-left: 15px;
}

pre,code {
    display: block;
    margin: 15px 20px;
    padding: 15px 20px;
    background: #efefef;
    border: 1px solid #bababa;
}

a, a:active {
    color: #069;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #069;
}

/* ============================================ Tables*/

table {
    width: 98%;
    margin: 20px 0;
    border: 1px solid #999;
    border-collapse: collapse;
    border-spacing: 0;
}

table th, thead tr {
    font: bold 10px 'Swis721ExBT',Verdana, Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    background: rgba(8,72,135,1.0);
    text-align: center;
    color: #fff;
}

table tr.alt {
    background: #f1f1f1;
}

tbody tr:hover {
    background: #eaeaea;
}

table td {
    padding: 5px 10px;
    text-align: left;
    font-size: 11px;
    border: 1px solid #bababa;
}

/* This CSS sets the default styles for forms. */
/* ============================================ Forms*/
fieldset {
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

select {
    padding: 1px;
}

textarea {
    width: 95%;
    height: 150px;
    padding: 5px;
    border: 1px solid #eaeaea;
    display: block;
    outline: none; /* preventing the chrome and safari nasty yellow border */
}

label {
    display: inline;
    width: 100px;
    text-align: right;
    margin: 5px 10px;
    padding: 5px 0;
    font: bold 12px/1em Arial, sans-serif;
}

select {

    margin: 5px;
    padding: 5px 1px;
}

/* ============================================ Form Classes*/

.inputstyle {
    background: #efefef;
    margin: 5px;
    padding: 4px;
    border: 1px solid #bababa;
    color: #555;
    font: 13px/1.3 'Swis721LtExBT', Tahoma, Helvetica, Arial, Verdana, Geneva, sans-serif;
}

.inputstyle:hover, .inputstyle:focus {
    background: #fcfcfc;
    border: 1px solid #cfcfcf;
}

.inputstyle, .inputstyle:hover, textarea:focus {
    outline: none
}

/* ============================================ Float Classes*/
.align-left {
    float: left;
    display: inline;
}

.align-right {
    float: right;
    display: inline;
}

.center {
    margin: 0;
    text-align: center;
}

/* ============================================ Element Clear Classes (for floated elemtnts)*/
.cl {
    clear: both;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
}

.cf:after, .menu:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}

.cf, .menu {
    display: inline-block;
}

* html .cf {
    height: 1%;
}

.cf, .menu {
    display: block;
}